#camlockImage{
    grid-area: camlockImage;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 var(--shadow);
}

.camlockImageOut_start{
    opacity: 1;
    animation: camlockImage 0.3s ease-in-out reverse;
}

.camlockImageOut_end{
    opacity: 0;
}

.camlockImageIn_start{
    opacity: 0;
    animation: camlockImage 0.3s ease-in-out;
}

.camlockImageIn_end{
    opacity: 1;
}

@keyframes camlockImage {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#DNSelect {
    flex-grow: 1;
}

#answerContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 32px;
    grid-area: answerContainer;
}

#answerContainer > button{
    width: 27px;
    height: 27px;
    padding: 3px;
    border-radius: 7px;
}

#answerContainer u{
    user-select: all;
}

#fatherLabel,
#motherLabel{
    text-align: center;
    align-content: center;
}

#hoseFittingLabel{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#stubLabel{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#fittingDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#sizesBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#fittingDiv {
    grid-area: fittingDiv;
    gap: 0;
}

#DNSelectSpan{
    white-space: nowrap;
}

#sizesBlock{
    grid-area: sizesBlock;
    gap: 10px;
}

#sizesBlock > span{
    margin: 0 7px;
}

#getCamlockBlock{
    grid-area: getCamlockBlock;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}

#sizesBlockHeader,
#getCamlockHeader{
    text-align: center;
}

#getCamlockItemsContainer{
    justify-content: center;
    flex-grow: 1;
}



