@media screen and (min-width: 320px) and (max-width: 479px) {
    div.background {
        background-color: black;
    }

    #mainDiv {
        width: 100%;
        background-color: var(--secondaryColor);
    }

    #menuDiv{
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-auto-rows: min(150px);
    }

}

@media screen and (min-width: 480px) and (max-width: 767px) {
    div.background {
        background-color: black;
    }

    #mainDiv {
        width: 100%;
        background-color: var(--secondaryColor);
    }

    #menuDiv{
        width: min(580px, 100%);
        justify-self: center;
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min(180px);
    }
}

@media screen and (min-width: 768px){
    #fakeBody{
        background-color: unset;
    }

    div.background {
        background: radial-gradient(var(--secondaryColor), var(--primaryColor));
        background-size: 600% 600%;
        animation: gradient 10s ease infinite;
        background-attachment: fixed;
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #mainDiv {
        width: 768px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: transparent;
    }

    #menuDiv{
        width: min(580px, 100%);
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min(180px);
    }
}

@media (hover: hover) and (pointer: fine) {
    input[type="file"] + label.of:hover,
    button:hover,
    .iconButton:hover,
    .menuOption:hover{
        box-shadow: 0 7px 7px var(--shadow), inset 0 0 0 0 var(--shadow);
    }

    div::-webkit-scrollbar,
    textarea::-webkit-scrollbar{
        display: none;
    }
    div,
    textarea{
        -ms-overflow-style: none;  /* IE Ð¸ Edge */
        scrollbar-width: none;  /* Firefox */
    }
}