html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color: black;

    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--primaryText);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    scrollbar-gutter: stable;
}

#fakeBody {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 0;
}
.blur_start{
    filter: blur(0);
    pointer-events: none;
    animation: blur 0.3s linear;
}
.blur_end{
    filter: blur(2px);
    pointer-events: none;
}

.unblur_start{
    filter: blur(2px);
    pointer-events: none;
    animation: blur 0.3s linear reverse;
}
.unblur_end{
    filter: blur(0);
    pointer-events: auto;
}

@keyframes blur {
    from{
        filter: blur(0);
    }
    to{
        filter: blur(2px);
    }
}

.defaultContainer,
.unPadContainer,
input,
textarea,
select {
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
}

@keyframes gradient {
    0% {
        background-position: 50% 10%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 10%;
    }
}

.unPadContainer,
.defaultContainer {
    background-color: var(--primaryColor);
    border-radius: 17px;
    font-size: inherit;
    box-sizing: border-box;
    padding: 7px;
}

.unPadContainer {
    padding: 0 0 7px 0;
}

.popUp {
    text-shadow: inherit;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    border: 1px solid var(--primaryText);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-height: 100dvh;
    overflow-y: scroll;

    width: min(100%, 360px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popUp_open_start{
    opacity: 0;
    animation: popUp 0.2s linear;
}
.popUp_open_end{
    opacity: 1;
}
@keyframes popUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.popUp_close_start{
    opacity: 1;
    animation: popUp 0.2s linear reverse;
}
.popUp_close_end{
    opacity: 0;
}

.itemsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.inpContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
}

.inpContainer > span {
    margin-left: 5px;
}

.inpContainer > input,
.inpContainer > select,
.inpContainer > textarea {
    width: 100%;
}

/*====================================именные стили*/

#infoHeader,
#bugReportHeader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
}

#mainWindow {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "headerDiv"
        "fragment";
    min-height: 100vh;
}

.programHeader {
    grid-area: headerDiv;
    position: relative;
    top: -120%;
    display: flex;
    gap: 7px;
    box-sizing: border-box;
    z-index: 50;
    height: max-content;
    margin: 0;
    padding: 7px;
    background-color: var(--primaryColor);
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
}

.programHeader_startAnim{
    position: relative;
    top: -120%;
    animation: programHeader 0.6s ease-in;
}

.programHeader_endAnim{
    position: sticky;
    top: 0;
}

@keyframes programHeader{
    from{
        top: -120%;
        transform: scaleY(1);
    }
    80%{
        top: 5%;
        transform: scaleY(1.1);
    }
    to{
        top: 0;
        transform: scaleY(1);
    }
}

#logo {
    height: 40px;
    width: auto;
    filter: drop-shadow(0 2px 2px var(--shadow));
}

#programName {
    flex-grow: 1;
    font-size: 24px;
    align-self: center;
    justify-content: flex-start;
}

.programHeaderButton {
    padding: 4px;
    width: 40px;
    height: 40px;
}

.menuButtonFixed {
    position: absolute;
    top: 86dvh;
    right: 10px;
    width: 50px;
    height: max-content;
    padding: 7px;
    border-radius: 100%;
    box-shadow: 0 0 8px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    opacity: 0;
}

.menuButtonFixed_start{
    opacity: 0;
    animation: menuButtonFixed 0.6s ease-in;
}
.menuButtonFixed_end{
    opacity: 0.8;
}

@keyframes menuButtonFixed {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.8;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: max-content;
    grid-area: fragment;
    padding: 10px;
}
.main_open_startAnim{
    opacity: 0;
    animation: main_open 0.2s linear;
}
.main_open_endAnim{
    opacity: 1;
}
@keyframes main_open {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.main_close_startAnim{
    opacity: 0;
    animation: main_close 0.2s linear;
}
.main_close_endAnim{
    opacity: 1;
}
@keyframes main_close {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.menuOption {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "ico header"
        "description description";
    gap: 10px;
    box-sizing: border-box;
    padding: 10px 10px 17px 10px;
    background-color: var(--primaryColor);
    box-shadow: 0 4px 4px 0 var(--shadow), inset 0 0 0 0 var(--noShadow);
    border-radius: 17px;
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.menuOption > .image {
    grid-area: ico;
    width: 35px;
    height: auto;
    filter: drop-shadow(0 2px 2px var(--shadow));
}

.menuOption > .header {
    grid-area: header;
    justify-self: start;
    align-self: center;
    padding: 0;
    margin: 0;
    max-height: max-content;
    font-size: 20px;
}

.menuOption > .description {
    grid-area: description;
    padding: 0;
    max-height: max-content;
    font-style: italic;
    word-wrap: break-word;
}

#moduleHeader {
    grid-area: moduleHeader;
    text-align: center;
    max-height: max-content;
    display: flex;
    justify-items: end;
    gap: 7px;

    padding: 5px 5px 5px 74px;
}

#moduleHeaderName {
    flex-grow: 1;
    font-size: 20px;
    align-self: center;
}

#moduleHeader > button {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 12px;
}

.iconButton {
    flex-direction: row;
    gap: 7px;
}

.iconButton > img {
    order: -1;
    width: 24px;
    height: 24px;
    filter: drop-shadow(0 2px 2px var(--shadow));
}

#settingsInfoHeader{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
    text-align: center;
}

#settingsContainer{
    display: flex;
    flex-direction: column;
    gap: 0;
}

#settingsHeader{
    margin-left: 7px;
}

#settingsItems{
    display: flex;
    flex-direction: column;
    gap: 7px;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid var(--primaryText);
    border-radius: 10px;
}

#copyButton {
    justify-self: center;
}

#clientInfoContainer {
    background-color: var(--button);
    user-select: text;
}

#buttonsContainer {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

#buttonsContainer > * {
    flex-basis: 100%;
}

#blockInfoButton {
    cursor: help;
}

.switchContainer {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content;
    gap: 7px;
    align-items: center;
    flex-grow: 1;
}

.switchContainer > label{
    order: -1;
    cursor: pointer;
    margin-left: 5px;
    width: max-content;
}

.invertColors{
    filter: drop-shadow(0 2px 2px var(--shadow)) invert(80%) !important;
}

/*=====================alert===================*/

.alertContainer {
    z-index: 9999;
    width: min(100%, 420px);
    overflow-y: scroll;
    filter: none !Important;
}

.alertHeader {
    text-align: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

/*=======================toast==================*/

#toastContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 9999;
    width: min(90%, 500px);
    height: min-content;

    text-shadow: inherit;
    text-align: center;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;

    border: 1px solid var(--primaryText);
    border-radius: 10px;
    padding: 7px;
    background-color: var(--secondaryColor);
}

.toastShow_start {
    opacity: 0;
    animation: show-hide 0.2s linear;
}
.toastShow_end {
    opacity: 1;
}

.toastHide_start {
    opacity: 1;
    animation: show-hide 0.2s linear reverse;
}
.toastHide_end {
    opacity: 0;
}

@keyframes show-hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*=====================Dialog==================*/

.dialogContainer {
    z-index: 9999;
    width: min(100%, 430px);
    overflow-y: scroll;
    filter: none !Important;
}

.dialogHeader {
    text-align: center;
    font-size: 18px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.dialogContainer > .itemsContainer > .buttonsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 7px;
}

.dialogContainer > .itemsContainer > .buttonsContainer > button{
    width: 100%;
}

/*=====================SHARE===================*/

#shareHeader {
    text-align: center;
}

#shareContainer {
    z-index: 1001;
    width: min(100%, 320px);
}

#shareItemsContainer {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-auto-rows: max-content;
    gap: 10px;
    grid-template-areas:
        "URLInput URLInput URLInput"
        "vkShareButton tgShareButton copyURLButton"
        "closeButton closeButton closeButton";
    padding: 0 7px 0 7px;
}

#URLInput {
    grid-area: URLInput;
}

#vkShareButton,
#tgShareButton {
    width: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

#vkShareButton {
    grid-area: vkShareButton;
}

#tgShareButton {
    grid-area: tgShareButton;
}

#vkShareButton:hover,
#tgShareButton:hover {
    box-shadow: 0 7px 7px var(--shadow), inset 0 0 0 0 var(--noShadow);
}

#copyURLButton {
    height: max-content;
    align-self: center;
    grid-area: copyURLButton;
}

#closeButton {
    grid-area: closeButton;
}

/*=====================getContainer=================*/

.getContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: auto;
    justify-items: center;
}

.getItemButton {
    cursor: pointer;
    width: 50px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    transition: box-shadow 0.3s;
}

.getItemButton:hover {
    box-shadow: 0 7px 7px var(--shadow), inset 0 0 0 0 var(--noShadow);
}

/*=====================Общие стили===================*/

*:disabled {
    opacity: 0.7;
}

a {
    color: inherit;
}

p {
    margin: 0 0 7px 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

input[type="file"] + label.of,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--button);
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: var(--buttonText);
    font-size: inherit;
    text-shadow: inherit;
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    transition: box-shadow 0.3s;
    border-radius: 10px;
    padding: 7px 12px 7px 12px;
}

button > img {
    filter: drop-shadow(0 2px 2px var(--shadow));
    width: 100%;
    height: auto;
}

input[type="file"] + label.of:active,
button:active,
.iconButton:active,
.menuOption:active {
    box-shadow: 0 2px 2px 0 var(--shadow);
}

select {
    background-color: var(--button);
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: var(--buttonText);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    height: min-content;
}

select:focus {
    outline: 1px solid var(--primaryText);
}

textarea {
    box-sizing: border-box;
    text-align: left;
    padding: 5px;
    background-color: var(--button);
    color: var(--buttonText);
    border-radius: 10px;
    border: none;
    align-self: center;
    font-size: inherit;
    font-family: inherit;
    resize: none;
    overflow-y: scroll;
}

input[type="tel"],
input[type="text"],
input[type="time"],
input[type="datetime-local"] {
    box-sizing: border-box;
    text-align: left;
    padding: 5px;
    background-color: var(--button);
    color: var(--buttonText);
    border-radius: 10px;
    border: none;
    height: 31px;
    align-self: center;
    font-size: inherit;
    width: 100%;
}

.switchContainer > input[type="checkbox"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
button:focus {
    outline: 1px solid var(--primaryText);
}

input::placeholder,
textarea::placeholder {
    color: var(--buttonText);
    opacity: 0.5;
}

input[type="checkbox"] {
    all: initial;
    position: relative;
    background-color: var(--secondaryColor);
    box-sizing: border-box;
    width: 47px;
    height: 31px;
    border-radius: 30px;
    transition: 0.3s background-color ease-in-out;
    box-shadow: 0 4px 4px var(--shadow);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"]:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 21px;
    width: 21px;
    background-color: var(--switchCircle);
    border-radius: 100%;
    box-shadow: 0 4px 4px var(--shadow), inset 0 -1px 2px var(--shadow);
    transition: 0.3s left cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="checkbox"]:checked:before{
    top: 5px;
    left: 21px;
}

input[type="checkbox"]:checked{
    background-color: var(--button);
}

input[type = "radio"] {
    appearance: none;
    position: absolute;
    display: none;
}

input[type = "radio"] + label.radioLabel {
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
    cursor: pointer;
}

input[type = "radio"]:checked + label.radioLabel {
    box-shadow: 0 4px 4px 0 var(--shadow), inset 0 4px 4px 0 var(--shadow);
    background-color: var(--primaryColor);
}

label.radioLabel {
    background-color: var(--button);
    flex-grow: 1;
    box-sizing: border-box;
    padding: 12px 7px 12px 7px;
    transition: background-color 0.3s, box-shadow 0.3s;
    align-content: center;
    height: min-content;
}

:root {
    --primaryColor: none;
    --secondaryColor: none;
    --button: none;
    --switchCircle: none;
    --shadow: none;
    --noShadow: none;
    --primaryText: none;
    --buttonText: none;
    --excessPump: none;
    --greatPump: none;
    --waterButtonBefore: none;
    --waterButtonAfter: none;
}