#prokachaikaDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filterBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filterBlockHeader{
    text-align: center;
}

#wellFlowRateControls{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.pumpContainer{
    background-color: var(--button);
    border-radius: 15px;
    padding: 7px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 4px var(--shadow), inset 0 0 0 0 var(--noShadow);
}

.pumpContainerHide{
    display: none;
}

.pumpContainer > span.pumpName{
    cursor: pointer;
    flex-grow: 1;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

.pumpContainer > span.pumpPoints{
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

#additionalPanelContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}

#compareButton{
    flex-grow: 1;
}

#compareListContainer{
    width: min(100%, 768px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#cL_header{
    position: sticky;
    left: 0;
    text-align: center;
}

#compareTable{
    overflow-x: scroll;
    width: max-content;
    border-collapse: collapse;
    border-radius: 10px;
    margin-right: 7px;
    margin-left: 7px;
}

#compareTable > thead{
    background-color: var(--secondaryColor);
    position: sticky;
    top: 0;
}

#compareTable > thead > tr > td{
    width: max-content;
    text-align: center;
    border: 2px solid var(--button);
    padding: 7px;
}

#compareTable > tbody > tr > td{
    width: max-content;
    border: 2px solid var(--button);
    padding: 7px;
}

#cL_deleteButton{
    margin: auto;
}

#cL_buttonsContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    position: sticky;
    left: 7px;
    margin-right: 7px;
    margin-left: 7px;
}

#cL_clearButton,
#cL_closeButton{
    flex-grow: 1;
}

#pumpInfoContainer{
    width: min(100%, 768px);
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: height 0.5s;
}

#pumpNameContainer{
    font-size: 18px;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
    user-select: all;
}

.paramContainer{
    align-content: center;
    padding: 5px;
    background-color: var(--button);
}
.valueContainer{
    align-content: center;
    padding: 5px;
}

#pumpInfoButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}

#relayHAContainer{
    width: min(100%, 430px);
}

#rHA_header{
    text-align: center;
}

/*======================grid areas*/

#findPumpContainer{
    grid-area: findPumpContainer;
}
#pumpTypeContainer{
    grid-area: pumpTypeContainer;
}
#pumpControlContainer{
    grid-area: pumpControlContainer;
}
#bodyMaterialContainer{
    grid-area: bodyMaterialContainer;
}
#wellFlowRateContainer{
    grid-area: wellFlowRateContainer;
}
#pressureContainer{
    grid-area: pressureContainer;
}

#paramsTableBody{
    grid-area: paramsTableBody;
}
#pumpInfoButtons{
    grid-area: pumpInfoButtons;
}
#pumpInfoControls{
    grid-area: pumpInfoControls;
}

#pumpTypeSpan{
    grid-area: pumpTypeSpan;
}
#pumpTypeValue{
    grid-area: pumpTypeValue;
}
#pumpVersionSpan{
    grid-area: pumpVersionSpan;
}
#pumpVersionValue{
    grid-area: pumpVersionValue;
}
#pumpControlSpan{
    grid-area: pumpControlSpan;
}
#pumpControlValue{
    grid-area: pumpControlValue;
}
#bodyMaterialSpan{
    grid-area: bodyMaterialSpan;
}
#bodyMaterialValue{
    grid-area: bodyMaterialValue;
}
#capacitySpan{
    grid-area: capacitySpan;
}
#capacityValue{
    grid-area: capacityValue;
}
#maxPerfSpan{
    grid-area: maxPerfSpan;
}
#maxPerfValue{
    grid-area: maxPerfValue;
}
#liftingHeightSpan{
    grid-area: liftingHeightSpan;
}
#liftingHeightValue{
    grid-area: liftingHeightValue;
}
#maxPressureSpan{
    grid-area: maxPressureSpan;
}
#maxPressureValue{
    grid-area: maxPressureValue;
}
#forLowStaticLevelSpan{
    grid-area: forLowStaticLevelSpan;
}
#forLowStaticLevelValue{
    grid-area: forLowStaticLevelValue;
}
#accumulatorSpan{
    grid-area: accumulatorSpan;
}
#accumulatorValue{
    grid-area: accumulatorValue;
}