@media screen and (min-width: 320px) and (max-width: 479px) {
    #schetovodDiv{
        width: min(370px, 100%);
        justify-self: center;
        max-height: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
        grid-template-areas:
        "moduleHeader moduleHeader"
        "inputBlock inputBlock"
        "currentTimeContainer fRContainer";
    }
}

@media screen and (min-width: 480px){
    #schetovodDiv{
        width: min(550px, 100%);
        justify-self: center;
        max-height: max-content;
        display: grid;
        grid-template-columns: minmax(150px, 200px) minmax(300px, 1fr);
        grid-template-rows: auto 1fr 1fr;
        gap: 10px;
        grid-template-areas:
        "moduleHeader moduleHeader"
        "currentTimeContainer inputBlock"
        "fRContainer inputBlock";
    }
}