.inputBlockRC,
.inputBlockRC_noButton,
.inputBlockSC,
.inputBlockSC_noButton{
    grid-area: inputBlock;
    display: grid;
    gap: 10px;
}

.inputBlockRC{
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
        "realtimeCheckbox realtimeText"
        "volumeInputContainer volumeInputContainer"
        "startButton startButton"
        "selectPumpButton selectPumpButton";
}

.inputBlockRC_noButton{
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
        "realtimeCheckbox realtimeText"
        "volumeInputContainer volumeInputContainer"
        "startButton startButton";
}

.inputBlockSC{
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
        "realtimeCheckbox realtimeText"
        "volumeInputContainer volumeInputContainer"
        "timeInputContainer timeInputContainer"
        "selectPumpButton selectPumpButton";
}

.inputBlockSC_noButton{
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
        "realtimeCheckbox realtimeText"
        "volumeInputContainer volumeInputContainer"
        "timeInputContainer timeInputContainer";
}

#volumeInputContainer{
    grid-area: volumeInputContainer;
}

#timeInputContainer{
    height: min-content;
    grid-area: timeInputContainer;
}

#realtimeText{
    grid-area: realtimeText;
    align-self: center;
    width: fit-content;
}

#startButton{
    grid-area: startButton;
    justify-self: center;
    align-self: center;
    margin: 10px 0 10px 0;
    padding: 0;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 60px;
    font-size: 18px;
    background-color: var(--button);
    color: var(--primaryText);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.selectPumpButton_display,
.selectPumpButton_hide{
    grid-area: selectPumpButton;
}

.selectPumpButton_display{
    display: block;
    width: max-content;
    justify-self: center;
}

.selectPumpButton_hide{
    display: none;
}

#currentTimeContainer{
    grid-area: currentTimeContainer;
}

#fRContainer{
    grid-area: fRContainer;
}

#currentTimeContainer,
#fRContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#flowRateText,
#flowRateLMOutput,
#flowRateLHOutput,
#currentTimeText,
#currentTimeOutput{
    text-align: center;
}

#flowRateLMOutput,
#flowRateLHOutput,
#currentTimeOutput{
    flex-grow: 1;
    align-content: center;
}