#inputBlock{
    transition: height 0.5s;
}

.largeText{
    font-size: 24px;
}

.inputBlockRC,
.inputBlockSC,
.inputBlockSC_noButton{
    grid-area: inputBlock;
    display: grid;
    gap: 10px;
    align-content: center;
}

.inputBlockRC{
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "realtimeCheckboxContainer"
        "volumeInputContainer"
        "buttonsContainer";
}

.inputBlockSC{
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
        "realtimeCheckboxContainer"
        "volumeInputContainer"
        "timeInputContainer"
        "buttonsContainer";
}

#realtimeCheckboxContainer{
    grid-area: realtimeCheckboxContainer;
    justify-self: center;
    width: max-content;
}

#volumeInputContainer{
    grid-area: volumeInputContainer;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

#volumeText,
#userTimeText{
    white-space: nowrap;
}

#volumeInput{
    text-align: center;
    font-size: 18px;
    width: 81px;
}

.timeInputContainer{
    grid-area: timeInputContainer;
    display: none;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    align-items: center;

    opacity: 0;
    max-height: 35px;
}
.timeInputContainerIn_start{
    opacity: 0;
    max-height: 0;
    display: flex;
    pointer-events: none;
    animation: timeInputContainerInOut 0.7s linear;
}
.timeInputContainerIn_end{
    opacity: 1;
    max-height: 35px;
    display: flex;
    pointer-events: auto;
}
.timeInputContainerOut_start{
    opacity: 1;
    max-height: 35px;
    display: flex;
    pointer-events: none;
    animation: timeInputContainerInOut 0.7s linear reverse;
}
.timeInputContainerOut_end{
    opacity: 0;
    max-height: 0;
    display: none;
    pointer-events: none;
}
@keyframes timeInputContainerInOut {
    from{
        opacity: 0;
        max-height: 0;
    }
    70%{
        opacity: 0;
        max-height: 35px;
    }
    to{
        opacity: 1;
        max-height: 35px;
    }
}

#userTimeInput{
    text-align: center;
    font-size: 18px;
    max-width: 127px;
}

.buttonsContainer{
    grid-area: buttonsContainer;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    height: max-content;

    opacity: 1;
    max-height: 110px;
}
.buttonsContainerIn_start{
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    animation: buttonsContainerInOut 0.7s linear;
}
.buttonsContainerIn_end{
    opacity: 1;
    max-height: 110px;
    pointer-events: auto;
}
.buttonsContainerOut_start{
    opacity: 1;
    max-height: 110px;
    pointer-events: none;
    animation: buttonsContainerInOut 0.7s linear reverse;
}
.buttonsContainerOut_end{
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

@keyframes buttonsContainerInOut {
    from{
        opacity: 0;
        max-height: 0;
    }
    70%{
        opacity: 0;
        max-height: 110px;
    }
    to{
        opacity: 1;
        max-height: 110px;
    }
}

.startButton{
    position: relative;
    cursor: pointer;
    justify-self: center;
    align-self: center;
    margin: 0 0 10px 0;
    padding: 20px 50px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    overflow: hidden;
    box-shadow: 0 4px 4px var(--shadow);
    transition: box-shadow 0.3s;
}

.startButton span{
    position: relative;
    z-index: 1;
    color: var(--primaryText);
}

.startButton .liquid{
    position: absolute;
    top: -120px;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--button);
    box-shadow: inset 0 0 50px var(--waterButtonAfter);
}

.startButton .liquidIn_start{
    top: -120px;
    animation: liquidMove 0.5s;
}
.startButton .liquidIn_end{
    top: -80px;
}
.startButton .liquidOut_start{
    top: -80px;
    animation: liquidMove 0.5s reverse;
}
.startButton .liquidOut_end{
    top: -120px;
}

@keyframes liquidMove {
    from{
        top: -120px;
    }
    to{
        top: -80px;
    }
}

.startButton .liquid_animate:before,
.startButton .liquid_animate:after{
    content: "";
    width: 250%;
    height: 250%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -80%);
}

.startButton .liquid_animate:before{
    border-radius: 45%;
    background: var(--waterButtonBefore);
    animation: liquid_animate 5s linear infinite;
}

.startButton .liquid_animate:after{
    border-radius: 40%;
    background: var(--waterButtonAfter);
    animation: liquid_animate 10s linear infinite;
}

.startButton:active{
    box-shadow: 0 2px 2px var(--shadow);
}

@keyframes liquid_animate {
    from {
        transform: translate(-35%,-80%) rotate(0deg);
    }
    to{
        transform: translate(-35%,-80%) rotate(360deg);
    }
}

.selectPumpButton{
    width: max-content;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0;
    pointer-events: none;
}

.selectPumpButtonIn_start{
    opacity: 0;
    max-height: 0;
    padding: 0;
    pointer-events: none;
    animation: selectPumpButton 0.7s linear;
}

.selectPumpButtonIn_end{
    opacity: 1;
    max-height: 40px;
    padding: 7px 12px 7px 12px;
    pointer-events: auto;
}

.selectPumpButtonOut_start{
    opacity: 1;
    max-height: 40px;
    padding: 7px 12px 7px 12px;
    pointer-events: none;
    animation: selectPumpButton 0.7s linear reverse;
}

.selectPumpButtonOut_end{
    opacity: 0;
    max-height: 0;
    padding: 0;
    pointer-events: none;
}

@keyframes selectPumpButton {
    from {
        opacity: 0;
        max-height: 0;
        padding: 0;
    }
    50%{
        opacity: 0;
        max-height: 20px;
        padding: 3px 6px 3px 6px;
    }
    to{
        opacity: 1;
        max-height: 40px;
        padding: 7px 12px 7px 12px;
    }
}

#currentTimeContainer{
    grid-area: currentTimeContainer;
}

#fRContainer{
    grid-area: fRContainer;
}

#currentTimeContainer,
#fRContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#flowRateText,
#flowRateLMOutput,
#flowRateLHOutput,
#currentTimeText,
#currentTimeOutput{
    text-align: center;
}

#flowRateLMOutput,
#flowRateLHOutput,
#currentTimeOutput{
    flex-grow: 1;
    align-content: center;
}

#assistantContainer{
    grid-area: assistantContainer;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}

#assistantContainer:before{
    content: "";
    position: absolute;
    top: -50%;
    left: -2%;
    height: 200%;
    background: var(--button);
    z-index: 0;
    transform: rotate(7deg);
    box-shadow: 0 -4px 4px 2px var(--shadow), inset 0 0 0 0 var(--noShadow);
}

#assistantImage{
    z-index: 1;
    filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.5));
    animation: assistant 4s infinite linear;
}

@keyframes assistant {
    from {
        transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
    25%{
        transform: scale3d(1.01, 1.025, 1) rotateZ(3deg);
    }
    50%{
        transform: scale3d(1.02, 1.05, 1) rotateZ(0deg);
    }
    75%{
        transform: scale3d(1.01, 1.025, 1) rotateZ(-3deg);
    }
    to {
        transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
}

#assistantText{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    animation: assistantText 4.5s infinite linear reverse;
}

@keyframes assistantText {
    from {
        transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
    25%{
        transform: scale3d(1.01, 1.025, 1) rotateZ(1deg);
    }
    50%{
        transform: scale3d(1.02, 1.05, 1) rotateZ(0deg);
    }
    75%{
        transform: scale3d(1.01, 1.025, 1) rotateZ(-1deg);
    }
    to {
        transform: scale3d(1, 1, 1) rotateZ(0deg);
    }
}